.btn {
  width: 100%;
  border: 2px solid black;
  background: none;
  text-transform: uppercase;
  padding: .5rem;
  cursor: pointer;
  font-size: 2rem;
  color: black;
  aspect-ratio: 1/1;
}

.btn.active {
  background-color: hsl(200, 100%, 50%);
  color: white;
}

.btn.inactive {
  opacity: .3;
}


.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
  background-color: hsl(200, 100%, 75%);
}